
		body{
			background-image: url(..\prjt\imgs\fund.jpg);
			background-repeat: no-repeat;
			background-size: cover; 
			
		}
		#plgem{
			position: relative;
			background-color: #228B22;
			top: 0;
			height: 60px;
			width: 100%;
			z-index: 0;
		}
		#log{
			position: relative;
			left: 50%;
			height: 20px;
		}
		#card1{
			position: relative;
			top: 100px;
			
			z-index: 0;
			width: 98%;
			
		}

		#card2{
			position: relative;
			top: -79px;
			left: 38%;
			z-index: 1;
		}

		#carrossel{
			position: relative;
			height: 500px;
			width: 100%;

		}#carrossel img{
      height: 100%;
      width: 100%;
    }#carrossel h1{
      color: black;
      text-shadow: 4px 1px rgba(255,255,255,0.5);

    }#carrossel p{
      color: black;
      text-shadow: 4px 1px rgba(255,255,255,0.5);
    }
    #cadastro{
      position: relative;
      top: 0;
      left: 50%;
    }
	.grid-containerPedidos{
		display: grid;
		grid-template-columns: auto auto auto;
		padding: 30px;

	}
	.Contatos{
		position: relative;
		top: 0;
		left: 10%;
	}
	